:root {
  --main-gray: #c2c2c2;
}

.post-date {
    color: var(--main-gray);
    font-style: italic;
}

.post-short {
    display: block;
    text-align: justify;
    padding: 0.25em 1em 0.25em 1.25em;
    margin: 20px 0;
    border-left: 2px solid var(--main-gray);
}

img[src^="https://avatars1.githubusercontent"],
img[src^="https://avatars2.githubusercontent"],
img[src^="https://avatars3.githubusercontent"]
{
    width: 20px;
    float: left;
    margin-right: 5px;
}

.post-category-links li {
    padding: 5px 0;
}